body {
  font-family: -apple-system, 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

/* =========================================================================
   Headings
   ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  margin: 0;
  margin-bottom: 16px;
  line-height: .8em;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 48px;
}

/* =========================================================================
   Paragraphs
   ========================================================================= */

p {
  line-height: 1.5em;
  margin: 0;
}

p ~ p {
  margin-top: 32px;
}

/* =========================================================================
   Lists
   ========================================================================= */

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: 1.25em;
}
